In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from mpl_toolkits.axes_grid1 import make_axes_locatable
from profFuncs import*

In [15]:
prof_files = glob.glob("rec_lattice_bounds/sim_data_inv/prof*.txt")

In [16]:

K_var = [10000]
K_str = ["K"+str(K)+"_" for K in K_var]


B_var = [0,3.5,6]
B_str = ["B"+str(B)+"_" for B in B_var]


D_var = [-8,-5,-3,-1,1,3]

D_str=["n8_","n5_","n3_","n1_", "p1_", "p3_"]

In [17]:
df= pd.DataFrame(columns = ['K','B','Fixed', 'Deme'])

In [18]:
for Kn, Ki,K in zip(range(len(K_var)),K_var,K_str):
    for Bn,Bi,B in zip(range(len(B_var)),B_var,B_str):
        for Dn, Di, D in zip(range(len(D_var)),D_var, D_str):
            sub_files = []
            for f in prof_files:
                if (K in f) and (B in f) and (D in f):
                    sub_files.append(f)
                    #print(5)


            for f in sub_files:
                frac = np.mean(arrToFreq(profFileToArray(f,120,40))[~np.isnan(arrToFreq(profFileToArray(f,120,40)))])

                df=df.append(pd.DataFrame(data = [[Ki,Bi,frac,Di ]],columns =['K','B','Fixed','Deme'] ))

/Users/nikhilkrishnan/Dropbox/Research/pushed_waves/2d pushed waves/profFuncs.py:81: RuntimeWarning: invalid value encountered in true_divide
  return arr_[:,:,0]/(arr_[:,:,1]+arr_[:,:,0])

In [19]:
1-df.groupby(['K','Deme','B']).mean()

                   Fixed
K     Deme B
10000 -8   0.0  0.140000
           3.5  0.040000
           6.0  0.000000
      -5   0.0  0.200000
           3.5  0.040000
           6.0  0.000000
      -3   0.0  0.020833
           3.5  0.020408
           6.0  0.000000
      -1   0.0  0.109091
           3.5  0.040000
           6.0  0.010000
       1   0.0  0.740000
           3.5  1.000000
           6.0  1.000000
       3   0.0  1.000000
           3.5  1.000000
           6.0  1.000000

In [49]:
df.groupby(['K','B','Init']).agg({'Fixed':'sum'})

KeyError: 'Init'

In [418]:
df.groupby(['K','B','Init']).count()['Fixed']

              Fixed
K     B Init
10000 0 0.1      11
        0.3      11
        0.5      11
        0.7      11
      6 0.1      11
        0.3      11
        0.5      11
        0.7      11